a{
    color: black;
}

.active{
    border: 2px solid;
    border-color: midnightblue;
}

nav{
    font-family: 'Roboto Mono', monospace;
}

.basketMargin {
    margin-left: 1rem;
}

.menuItemName {
    font-weight: 500;
}

.navbasket {
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

.smallMenu, .smallMenu button {
    outline: none;
}