.cardProduct {
    width: 18rem;
    margin: 0.5rem;
    border: none;
}

.cardProduct:hover {
    -webkit-box-shadow: 1px 3px 12px -2px rgba(186,186,186,1);
    -moz-box-shadow: 1px 3px 12px -2px rgba(186,186,186,1);
    box-shadow: 1px 3px 12px -2px rgba(186,186,186,1);
}

.rightAlign {
    width: 100%;
    text-align: right;
}

.card-title {
    font-size: 2rem;
    font-weight: 300;
}

.pointer {
    cursor: pointer;
}
