<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 fiterCol">
      <h2>Fitres</h2>
      <mat-divider></mat-divider>
      <div class="categoriesBox"  *ngIf="categoriesFilter">
        <mat-checkbox class="categoriesCheckBox" *ngFor="let cartegory of objectKeys(categoriesFilter)" [(ngModel)]="categoriesFilter[cartegory]" (change)="filterCategoriesUpdate()">{{cartegory | titlecase}}</mat-checkbox>
      </div>
      <h3>Prix</h3>
      <div class="custom-slider">
        <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (mouseup)="updatePriceFilter()"></ng5-slider>
      </div>
    </div>

    <div class="col-lg d-flex p-2 flex-wrap justify-content-center">

      <div class="card cardProduct" *ngFor="let product of products; let index = index;">
        <img class="card-img-top pointer" [src]="product.imgPath" [alt]="product.name" routerLink="/produits/{{product.categories[0]}}/{{product.id}}">
        <div class="card-body">
          <p class="card-title">{{product.name}}</p>
          <p class="card-text">{{product.desc}}</p>
          <div class="alignCenter">
            <p class="price">{{product.price}}€</p>
          </div>

          <div class="rightAlign">
            <div *ngIf="!product.quantity">
              <button mat-mini-fab color="primary" aria-label="Ajouter au panier" (click)="addProduct(index)">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </div>
            <div *ngIf="product.quantity" class="inlineChild">
              <button mat-icon-button aria-label="Diminuer" (click)="removeProduct(index)">
                <mat-icon>remove</mat-icon>
              </button>
              <p>{{product.quantity}}</p>
              <button mat-icon-button aria-label="Ajouter" (click)="addProduct(index)">
                <mat-icon>add</mat-icon>
              </button>
              <p>Total : <span class="totalProduct">{{getTotalPrice(product.quantity, product.price)}}</span> €</p>
            </div>
          </div>

          <div class="alignCenter" *ngIf="product.quantity">
            <p class="basketComment"><mat-icon>done</mat-icon> Déjà {{product.quantity}} dans votre panier.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>