<div class="alignCenter">
    <h1>Votre Panier</h1>
</div>

<div class="container basket alignCenter">
    <div class="row">

      <!-- First column : basket -->
      <div class="col-md">
        <h2>Liste de vos produits</h2>
        <div class="alert alert-primary" role="alert" *ngIf="!products || !products.length">
            Votre panier est vide.
        </div>

        <mat-accordion class="extendPanel" *ngIf="products && products.length">
            <mat-expansion-panel *ngFor="let item of products; ; let index = index;">
              <mat-expansion-panel-header >
                <mat-panel-title>
                  {{item.name}}
                </mat-panel-title>
                <mat-panel-description>
                   {{item.quantity}} pièces / Total : {{getTotalPrice(item.quantity, item.price)}} €
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <img class="pointer" [src]="item.imgPath" [alt]="item.name" routerLink="/produits/{{item.categories[0]}}/{{item.id}}">
                    </div>
                    <!-- Actions possible on the basket product -->
                    <div class="col inlineChild alignCenter">
                        <button mat-icon-button aria-label="Diminuer" (click)="removeProduct(index)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <p>{{item.quantity}}</p>
                        <button mat-icon-button aria-label="Ajouter" (click)="addProduct(index)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Enlever tous les exemplaires de ce produit" class="delProductBtn" (click)="removeAllSameProduct(index)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <p class="spaceTotal">Total : <span class="totalProduct">{{getTotalPrice(item.quantity, item.price)}}</span> €</p>
                    </div>
                </div>
              </div>
            </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button color="warn" class="btnBuy" (click)="cleanBasket()" *ngIf="products && products.length">Vider le Panier</button>
      </div>

      <!-- Second column : Recap -->
      <div class="col-md justify-content-center spaceChild">
        <h2>RÉCAPITULATIF</h2>

        <div class="card text-center">
          <div class="card-body">
            <p class="card-text">{{basketQuantity ? basketQuantity : 0}} produit(s) sélectionné(s)</p>
          </div>
          <div class="card-footer">
            <p class="totalBasket">Total : {{basketTotal ? basketTotal : 0}} €</p>
          </div>
        </div>

        <button mat-raised-button color="primary" class="btnBuy" (click)="buy()" [disabled]="!basketTotal">Payer</button>
      </div>
    </div>
</div>